<%- include('header') %>
    <h2>
        Nova Categoria:
        <a href="/admin/categorias">Categorias</a>
    </h2>
    <div>

        <form method="POST">
            <label>Nome da categoria:</label>
                <input type="text" name="category">
            <br>
            <button>Salvar Categoria</button>
        </form>
    </div>
<%- include('footer') %>